---
import type { ImageMetadata } from "astro";
import { init } from "zod-empty";
import  { z } from 'astro:content';

// allow for blank values that can be replaced
import { anyPageSchema, type AnyPageMetadata, SITENAME } from "@src/content.config";

const defaults: AnyPageMetadata = init(anyPageSchema)
const { ...props } = Astro.props as AnyPageMetadata;
const merged = { ...defaults, ...props}
const { title, type, images, description, video } = merged;

try {
    anyPageSchema.parse(merged)
} catch (e) {
  if (e instanceof z.ZodError) {
    console.error(Astro.url.href, e.issues);
    Astro.response.status = 500;
    Astro.response.statusText = "This page is misconfigured.";
  }
}

const firstImage: Pick<ImageMetadata, "src"> & { alt?: string | null } =
  images[0];
---

<meta name="creator" property="og:site_name" content={SITENAME} />

<title>{title} | {SITENAME}</title>
<meta property="og:title" content={title} />

<meta property="og:type" content={type} />
{firstImage.src && <meta name="og:image" content={firstImage.src} /> }
{firstImage.alt && <meta name="og:image:alt" content={firstImage.alt} /> }
<meta property="og:url" content={Astro.url.href} />

{description && <meta name="description" property="og:description" content={description} /> }
{video && <meta property="og:video" content={video} /> }
