---
import type { ImageMetadata } from "astro";
import { init } from "zod-empty";
import { z } from "astro:content";
import type { Organization, WebSite, WithContext } from "schema-dts";

// allow for blank values that can be replaced
import {
  anyPageSchema,
  type AnyPageMetadata,
  SITENAME,
} from "@lib/seo-schema.ts";

const defaults: AnyPageMetadata = init(anyPageSchema);
const { ...props } = Astro.props as AnyPageMetadata;
const merged = { ...defaults, ...props };
const { title, type, images, description, video } = merged;

try {
  anyPageSchema.parse(merged);
} catch (e) {
  if (e instanceof z.ZodError) {
    console.error(Astro.url.href, e.issues);
    Astro.response.status = 500;
    Astro.response.statusText = "This page is misconfigured.";
  }
}

const firstImage: Pick<ImageMetadata, "src"> & { alt?: string | null } =
  images[0];

const siteUrl = Astro.site?.href ?? Astro.url.origin;

const organization: WithContext<Organization> = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: SITENAME,
  url: siteUrl,
  logo: new URL("/images/kanby.jpg", siteUrl).href,
  sameAs: [
    "https://discord.gg/GMT7ZvuJf",
    "https://bsky.app/profile/kanby.ai",
    "https://twitter.com/kanby_ai",
    "https://www.youtube.com/@KanbyAI",
    "https://www.facebook.com/kanbyllc",
    "https://www.instagram.com/kanbyai/",
    "https://www.linkedin.com/company/kanbyai/",
  ],
};

const website: WithContext<WebSite> = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: SITENAME,
  url: siteUrl,
};
---

<meta name="creator" property="og:site_name" content={SITENAME} />

<title>{SITENAME} | {title}</title>
<meta property="og:title" content={title} />

<meta property="og:type" content={type} />
{firstImage.src && <meta property="og:image" content={firstImage.src} />}
{firstImage.alt && <meta property="og:image:alt" content={firstImage.alt} />}
<meta property="og:url" content={Astro.url.href} />
<meta property="og:locale" content="en_US" />
{
  description && (
    <meta name="description" property="og:description" content={description} />
  )
}
{video && <meta property="og:video" content={video} />}

<script type="application/ld+json" set:html={JSON.stringify(organization)} />
<script type="application/ld+json" set:html={JSON.stringify(website)} />
