---
// works for urls like /tags/huzzah and /tags/learning-in-public
import Layout from "@layouts/BaseLayout.astro";
import { getProtectedCollection } from "@src/utils";

const { tag } = Astro.params;
const isPlaywrightTest =
    Astro.request.headers.get("x-playwright-test") === "true";
const allPosts = await getProtectedCollection("blog", {
    includeTestOnly: isPlaywrightTest,
});
const filteredPosts = tag
    ? allPosts.filter((post) => post.data.tags?.includes(tag))
    : [];

if (filteredPosts.length === 0) {
    Astro.response.status = 404;
    Astro.response.statusText = "No posts found for this tag.";
}

let seo = {
    title: `Articles that contain tag ${tag}`,
    description: `Tag archive for ${tag}.`,
};
---

<Layout seo={seo}>
    <h1>here</h1>
    <p>Posts tagged with {tag}</p>
    <ul>
        {
            filteredPosts.map((post) => (
                <li>
                    <a href={`/blog/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
